importFrom("Matrix", "t", "bdiag")
importFrom("Deriv", "Deriv")
importFrom("stats", "coefficients", "lm", "model.frame", "model.matrix", "model.response", "rnorm", "nlminb", "deriv", "pnorm", "qnorm")
importFrom("reformulas", "subbars", "mkReTrms", "findbars") 
importFrom("TMB", "MakeADFun", "sdreport") 
export("drmTMB", "ed", "drmTMBcontrol")
S3method(print, drmTMB)
S3method(predict, drmTMB)
S3method(coef, drmTMB)
S3method(vcov, drmTMB)
S3method(print, edTMB)
S3method(coef, edTMB)
S3method(vcov, edTMB)
useDynLib(drcTMB_TMBExports)